* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*header*/
header {
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: start;
}

.app-header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.app-logo {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.app-title {
    color: palevioletred;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
}

main {
    background-image: url("../images/aboutBackground.jpg");
    background-position: center;
    background-size: cover;
    padding: 20px;
}

/*about*/
.keyWord {
    color: #92103e; 
    text-decoration: underline; 
}

.flower {
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-color: white;
    border-style: dotted;
    border-radius: 10px;
    width: 100%;
    max-width: 950px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    transform: scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.flower:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
}

.flower h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
}

.flower-adenium {
    background: linear-gradient(to bottom, rgb(196, 79, 118), palevioletred);
}

.flower-cosmos {
    background: linear-gradient(to bottom, palevioletred, rgb(217, 134, 162));
}

.flower-gerbera {
    background: linear-gradient(to bottom, rgb(217, 134, 162), rgb(232, 161, 184));
}

.flower-rose {
    background: linear-gradient(to bottom, rgb(232, 161, 184), rgb(244, 193, 209));
}

.flower p {
    font-size: 18px;
    margin-bottom: 10px;
}

.flower p strong {
    color: #fff;
    font-weight: bold;
}

/*button*/
.back-link {
    background-color: #ffffff; 
    color: palevioletred;
    text-decoration: none; 
    font-size: 16px;
    border: 2px solid palevioletred;
    border-radius: 5px; 
    cursor: pointer; 
    padding: 10px 15px; 
    position: absolute; 
    top: 20px; 
    right: 25px;  
}

.back-link:hover {
    background-color: palevioletred;
    color:white;
}

::selection {
    background-color: rgb(255, 255, 255); 
    color: pink; 
}

