body{
    background-color: white;
    color:palevioletred;
    font-family: 'Times New Roman', Times, serif;
    margin:0px;
    padding:0px;
}

header{
    text-align: center;
    background-color: pink;
    padding:0px 0px 5px 0px;
}

/*navigation*/
nav ul{
    background-color: palevioletred;
    list-style: none;
    margin:0px;
    padding:0px;
    width: 100%;
    display:flex;
    gap:50px;      
}

nav ul li{
    line-height: 50px;
    flex:1;  
    text-align: center;
}

nav ul li a{
    color:pink;
    text-decoration: none; 
    border-radius:5px;
    padding:15px 60px;
}

#blossom{
    color:white;
    opacity: 0.5;
    font-size: 20px; 
}

nav ul li a:hover{
    background-color:white;
    color:palevioletred;
    opacity: 0.5;
    font-size: 20px;
}

/*flower section*/
main{
    padding:20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:20px;
}

.flower-cardAdenium, .flower-cardCosmos, .flower-cardGerbera, .flower-cardRose{
    background-color: rgb(249, 211, 217);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2)
    border-radius: 10px;
    border-style:double;;
    padding:15px;
    width:300px;
    height:500px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
}

.flower-cardRose {
    margin-bottom: 25px;
}

.flower-cardAdenium img, .flower-cardCosmos img, .flower-cardGerbera img, .flower-cardRose img{
    width:100%;
    border-radius: 20px;
}

.flower-cardAdenium h2, .flower-cardCosmos h2, .flower-cardGerbera h2, .flower-cardRose h2{
    color:palevioletred;
    text-decoration: underline;
    margin-bottom: 10px;
}

.flower-cardAdenium h2{
    margin-top: 20px;
}

.flower-cardCosmos h2{
    margin-top: 9px;
}

.flower-cardGerbera h2{
    margin-top: 1px;
}

.flower-cardRose h2{
    margin-top: 0px;
}

.flower-cardAdenium p, .flower-cardCosmos p, .flower-cardGerbera p, .flower-cardRose p{
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 25px;
}

.flower-cardRose p{
    padding-top: 1px;
}

.flower-cardAdenium a, .flower-cardCosmos a, .flower-cardGerbera a, .flower-cardRose a{
    color:white;
    opacity: 0.9;
}

.flower-cardAdenium a:hover, .flower-cardCosmos a:hover, .flower-cardGerbera a:hover, .flower-cardRose a:hover {
    color: palevioletred;
}

/*quiz*/
.quiz{
    background: linear-gradient(to bottom, rgb(249, 211, 217), palevioletred);
    color:palevioletred;
    text-align: center;
    border:5px solid palevioletred;
    width: 100%;
    padding: 40px;
    margin-left:0px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.decorative-line {
    background: linear-gradient(to right, palevioletred, white, palevioletred); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px; 
    height: 5px; 
    width: 100%;
    margin-top:0px;
    margin-left:0px; 
}

form {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 300px;
    text-align: left;
    margin-bottom: 30px; 
    padding: 30px;
}

.quiz p {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 10px;
}

input[type="radio"]:checked {
    accent-color: #d87093;
}

button {
    background-color: #d87093;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
    padding: 12px 20px;
}

button:hover {
    background-color: #ffccd5;
}

#result {
    color: #d87093;
    opacity: 1; 
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/*footer*/
footer {
    background-color: #ffccd5; 
    text-align: center;  
    padding: 20px;       
    margin-top: 30px;     
}

footer p{
    color: palevioletred;
    font-style: italic;
    font-size: 20px ;
    margin: 0;        
}

::selection {
    background-color: rgb(255, 255, 255); 
    color: pink; 
  }


