body{
    background-color: white;
    background-image: url(../images/Historybackground.png);
    background-size: cover;
    margin:0px;
}

/*navigation*/
nav ul{
    background-color: #d87093;
    list-style: none;
    width: 100%;
    margin:0px;
    padding:0px;
    display:flex;
    gap:50px;     
}

nav ul li{
    text-align: center;
    line-height: 50px;
    flex:1;  
}

nav ul li a{
    color:pink;
    text-decoration: none; 
    border-radius:5px;
    padding:15px;
    padding-left:60px;
    padding-right: 60px;
}

#history{
    color:white;
    opacity: 0.5;
    font-size: 20px;
}

nav ul li a:hover{
    background-color:white;
    color:palevioletred;
    opacity: 0.5;
    font-size: 20px;
}

/*timeline*/
.memory-timeline {
    background: linear-gradient(to right, #f9c9d1, #d87093);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    border-radius: 30px;
    max-width: 1000px;
    padding: 30px;
    margin: 20px auto;   
}

.memory-timeline h2 {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    text-decoration: underline;
    font-size: 40px;
    margin-bottom: 40px;
}

.timeline-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.timeline-container::before { 
    content: ''; 
    background: white;
    width: 4px;
    height: 100%;
    position: absolute; 
    left: 50%;
    transform: translateX(-50%); 
}

.timeline-item {
    width: 100%;
    margin-bottom: 50px;
    position: relative;
    display: flex;
    gap: 7px;
    align-items: center;
}

.timeline-item:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline-bubble {
    background: white;
    color: palevioletred;
    font-size: 24px;
    border: 4px solid palevioletred;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.timeline-bubble:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: scale(1.2);
}

.timeline-bubble p {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.timeline-details {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    opacity: 0;
    max-width: 300px;
    padding: 20px;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.timeline-item:hover .timeline-details {
    opacity: 1;
    transform: translateY(0);
}

.timeline-details p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
}

/*footer*/
footer a{
    color:palevioletred;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 15px;
    margin-top:15px;
    display:flex;
    justify-content: center;
}

footer hr{
    border-color: palevioletred;
}

::selection {
    background-color: rgb(255, 255, 255); 
    color: pink; 
}


